body {
  text-align: center;
  font-size: 1em;
  font-family: verdana;
  margin: 0;
}

h1 {
  font-size: 1.2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}

.row {
  margin: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border: 1px solid #bbb;
  box-shadow: 1px 1px 1px #ccc;
  margin: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 60px;
  font-weight: bold;
}

.row > div.grey{
  --background: #a1a1a1;
  --border-color: #a1a1a1;
  animation: flip 0.5s ease forwards;
}

.row > div.green{
  --background: #5ac85a;
  --border-color: #5ac85a;
  animation: flip 0.5s ease forwards;
}

.row > div.yellow{
  --background: #e2cc68;
  --border-color: #e2cc68;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2){
  animation-delay: 0.2s;
}

.row > div:nth-child(3){
  animation-delay: 0.4s;
}

.row > div:nth-child(4){
  animation-delay: 0.6s;
}

.row > div:nth-child(5){
  animation-delay: 0.8s;
}

.row.currentGuess > div.filled {
  background: #eee;
  border-color: #ddd;
  animation: bounce 0.2s ease-in-out forwards;
}


@keyframes flip {
  0% {
    transform: rotateX(0deg);
    background: #fff;
    border-color: #bbb;
  }

  45% {
    transform: rotateX(90deg);
    background: #fff;
    border-color: #bbb;
  }

  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #fff;
  }

  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #fff;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #bbb;
  }

  50% {
    transform: scale(1.2);
    border-color: #bbb;
  }

  100% {
    transform: scale(1);
    border-color: #ddd;
  }
}